.icecollection_news .fancy-layout .field-richeditor {
    height: 100%;
}

.icecollection_news .redactor-box {
    height: 100%;
}

.icecollection_news .field-richeditor.size-giant .redactor-editor {
    height: 100%;
}

.icecollection_news .field-richeditor.size-giant .redactor-editor {
    height: 100% !important;
}

.form-group.span-full.icecollection_news {
    height: 100%;
}

.icecollection_news .field-richeditor {
    height: 100%;
}


